:root {
  --color1: #d755d9;
  --color2: #ab05f2;
  --color3: #f2cb05;
  --color4: #f2a057;
}

#rivals-box {
  width: 50%;
  position: fixed;
  bottom: 0;
  margin-bottom: 5%;
  padding: 1%;

  border-width: 1px;
  border-radius: 15px;
  border-color: #9c9591;
  border-style: solid;
}

#text-container {
  margin-top: 25%;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}
#playername {
  line-height: 70px;
}

/*    FOLDING CUBE    */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.playercard {
  width: 80%;
  opacity: 0.3;
  color: black;
}

.playercard#player1 {
  background-color: var(--color1);
}

.playercard#player2 {
  background-color: var(--color2);
}

.playercard#player3 {
  background-color: var(--color3);
}

.playercard#player4 {
  background-color: var(--color4);
}

.player-input-1 {
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 3pt;
  background: var(--color1);
}

.player-input-2 {
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 3pt;
  background: var(--color2);
}

.player-input-3 {
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 3pt;
  background: var(--color3);
}

.player-input-4 {
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 3pt;
  background: var(--color4);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
