:root {
  --color1: #d755d9;
  --color2: #ab05f2;
  --color3: #f2cb05;
  --color4: #f2a057;
}

#rivals-box {
  width: 50%;
  position: fixed;
  bottom: 0;
  margin-bottom: 5%;
  padding: 1%;

  border-width: 1px;
  border-radius: 15px;
  border-color: #9c9591;
  border-style: solid;
}

#text-container {
  margin-top: 20%;
}

#lib-text {
  font-size: 17pt;
}

.container-deluxe {
  margin-left: 5%;
  margin-right: 25%;
  font-size: 20pt;
}
#playername {
  line-height: 70px;
}

#rivals-column {
  margin-top: 5%;
}

.playercard {
  width: 80%;
  height: 20%;
  color: black;
  font-size: 15pt;
  background-color: rgba(156, 149, 145, 0.1);
  margin: 10px;
  max-height: 70px;
}

.cardtext {
  color: black;
  opacity: 1;
}

.card-body-chechonomemate {
  padding-left: 0;
}

#button-submit {
  margin-top: 20%;
  margin-left: 35%;
}

.shield-img {
  height: 70px;
  width: 70px;
  margin-left: 20px;
}

.player-input-1 {
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 3pt;
  background: var(--color1);
}

.player-input-2 {
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 3pt;
  background: var(--color2);
}

.player-input-3 {
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 3pt;
  background: var(--color3);
}

.player-input-4 {
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 3pt;
  background: var(--color4);
}
