body {
  font-family: "Raleway";
}

#menu-container {
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 2%;
}

.card {
  text-align: center;
  background: #f2e205;
  border-color: #ab05f2;
}

#creategame-button {
  background: #ab05f2;
  border-color: #ab05f2;
  width: 100%;
}

#creategame-button:hover {
  color: #f2e205;
}

#gamecode-input-menu {
  text-align: center;
  margin-bottom: 5px;
}

#joingamemenu-button {
  background: #ab05f2;
  border-color: #ab05f2;
  width: 100%;
}

#joingamemenu-button:hover {
  color: #f2e205;
}

.pastgame {
  color: black;
}

.pastgame:hover {
  text-decoration: none;
  color: whitesmoke;
  background: #ab05f2;
}

@media (max-width: 767.98px) {
  .navbar-brand {
    font-size: 25px;
  }

  #logo {
    width: 40px;
    height: 40px;
    margin-top: -2px;
    margin-right: 15px;
  }

  #logout-button {
    color: #ab05f2;
    border-color: #ab05f2;
    height: 40px;
    width: 90px;
    font-size: 14px;
  }

  .card {
    text-align: center;
    background: #f2e205;
    border-color: #ab05f2;
    margin-bottom: 15px;
  }

  #login-name-link {
    color: #ab05f2;
    font-family: "Raleway";
    font-size: 15px;
  }
}
