body {
  background-image: url("/knightforbg.png");
  background-size: 100px 100px;
  font-family: "Raleway";
}

#joingame-container {
  margin-top: 15%;
  width: 40%;
  text-align: center;
}

h1 {
  font-family: "Righteous";
}

#title {
  font-size: 65px;
}

#gamecode-input-container {
  height: 60px;
}

#gamecode-input {
  text-align: center;
  height: 100%;
  font-size: 25px;
}

#joingame-button {
  background: #ab05f2;
  border: #ab05f2;
  font-size: 25px;
  height: 60px;
  width: 100%;
  margin-top: 12px;
}

#joingame-button:hover {
  color: #f2e205;
}

#login-container {
  margin-top: 160px;
}

/*CSS for mobile*/
@media (max-width: 767.98px) {
  #joingame-container {
    margin-top: 60%;
    width: 100%;
    text-align: center;
  }

  #title {
    font-size: 60px;
  }
}
